.hte-card-icons {
  float: right;
  color: var(--hte-color-black);

  .hte-card-icon {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    margin-left: 6px;
    vertical-align: middle;
    font-size: .9em;

    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 14px;
      border-radius: 2px;
      flex-shrink: 0;
    }
  }

  .hte-card-icon-yellow::before {
    background-color: var(--hte-color-yellow-5);
  }

  .hte-card-icon-red::before {
    background-color: var(--hte-color-red-8);
  }
}


